# OS Ignores
# =====================================
.DS_Store
Thumbs.DB

# Vim Ignores
# =====================================
*.swp
*.swo
vim/vim/.netrwhist

# NeoBundle Ignores
# =====================================
vim/vim/bundle/*

# Php
# =====================================
composer.phar
